.search-container
  .search-header.container
    .row
      .col-lg-12
        %p Found #{@movies.length} Results
        - @movies.each do |movie|
          %p= movie["title"]
          %p= movie["description"]

