// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-index {
  .intro-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 70vh;
    background-image: url(image_path("welcome.jpg"));
    background-size: cover;
  }

  .intro-text {
    text-align: center;
    h1, h3 {
      text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    }
  }
}
