.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand Lighthouse
    %form.navbar-form.navbar-right
      %input.form-control{placeholder: "Search for a film..."}
